<%= form_for @group, url: groups_path(@group) do |f| %>
  <% if @group.errors.any? %>
  <div id="error_explanation">
   <ul>
     <% @group.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
  </div>
  <% end %>
  <%= f.text_field :name, placeholder: "Add new group" %>
  <%= f.submit "Add", class: "button postfix" %>
<% end %>
