<% if @group.errors.any? %>
 <div id="error_explanation">
   <ul>
     <% @group.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 </div>
<% end %>

<% if @groups %>
  <h1>Groups:</h1>

  <% @groups.each do |group| %>
    <%= link_to "#{group.name}", groups_path(group.id) %>
  <% end %>
  <% if current_user %>
    <%= render "groups/new" %>
  <% end %>
<% end %>

