<div class="row homepage">
  <h1>Groups</h1>

  <fieldset class="groupNameList">
    <% @groups.each do |group| %>
      <div><%= link_to "#{group.name}", group_path(group.id) %></div>
    <% end %>
  </fieldset>

    <div class="newGroup">
      <% if current_user %>
        <%= render "groups/new" %>
      <% end %>
    </div>
</div>
