<h1><%=@group.name%></h1>
<%= link_to "Delete", group_path(@group.id), method: :delete %>
<%= link_to "Update", [:edit, @group] %>
<h1>These are the members of this group</h1>
<h1>Surpries Supplies!</h1>