/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
$font-family-main: Amatic SC;

body {
  font-family: $font-family-main;
}
.homepage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;

  h1 {
    font-family: $font-family-main;
    text-align: center;
    text-decoration: underline;
  }

  .groupNameList {
    a {
      font-family: $font-family-main;
      font-size: 2em;
      font-weight: bold;
    }
  }

  .newGroup {
    padding-top: 2em;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.name a {
  font-family: $font-family-main;
  font-size: 2em;
}

.top-bar-section .right li a {
  font-family: $font-family-main;
  font-size: 1em;
}
